/alum.jpg
/alumni.jpg
/cahcah.webp
/codechef.webp
/face.jpg
/file.jpg
/hackathon image.webp
/hackhack.png
/hoak.avif
/iit.png
/index.js
/industry.webp
/insta.webp
/ngo.jpg
/OIP.webp
/paper presenation.jpg
/Programming_challenge.jpg
/researchcompet.webp
/robotics.webp
/spo.webp
/twitter-logo.png
/uni.jpg
/win.webp